body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.table {
  min-width: 1400px;
}

.table__row {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid black;
}

.table__cell {
  border-right: 1px solid black;
  padding: 5px 15px;
}

.metamask-block {
  text-align: center;
  margin-top: 30vh;
}

.metamask-warning {
  font-size: 34px;
  margin-bottom: 30px;
  padding: 0 20px;
}

.metamask-install {
  padding: 5px;
}