body {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EDF3FF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, #root {
  height: 100%;
  overflow-x: hidden;
}

.main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}

.header {
  padding: 32px 80px 36px 370px;
  flex-shrink: 0;
}

.heading {
  color: #05060F;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */

  margin-bottom: 8px;
}

.description {
  color: #222426;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;

  max-width: 450px;
}

.table-container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  padding: 32px 0 0;
  flex-shrink: 0;
  flex-grow: 1;
}

.scroll-container {
  width: 100%;
  overflow-x: auto;
  padding: 0 80px 32px;
}

.table-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  width: calc(100% - 60px);
  padding: 0 80px 18px;

  margin-left: auto;
}

.table-heading {
  color: #1E1E1F;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  padding-right: 16px;
}

.sort-by {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 26px;

  margin: 0 auto;
}

.sort-by__heading {
  color: #05060F;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 266.667% */
  width: fit-content;
}

.sort-by__button {
  background: none;
  border: none;
  box-shadow: none;

  padding: 0;
  margin: 0;

  color: #05060F;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 266.667% */

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;

  text-transform: capitalize;
}

.sort-by__button_active {
  font-weight: 600;
}

.arrow-up {
  transform: rotate(180deg);
}

.wallet-balances {
  display: grid;
  grid-template-columns: repeat(5, minmax(160px, 1fr));
  margin-left: 60px;
}

.wallet-name {
  color: #676B73;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
}

.wallet-balance {
  color: #676B73;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}

.wallet-balance-card {
  padding: 22px 8px;
  border-bottom: 1px solid #EDF3FF;
  border-top: 1px solid #EDF3FF;
}

.wallet-balance-card:first-child {
  padding-left: 16px;
}

.wallet-balance-card:last-child {
  padding-right: 16px;
}

.wallet-balance-card:first-child .wallet-name {
    color: #0E0E0E;
}

.wallet-balance-card:first-child .wallet-balance {
    color: #191919;
}


.table {
  width: 100%;
}

.table__row {
  display: grid;
  grid-template-columns: 60px repeat(5, minmax(160px, 1fr));
}

.table__cell {
  padding: 8px 8px;
  border-bottom: 1px solid #EDF3FF;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  gap: 24px;
}

.table__cell-data {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}

.table__cell_info {
  border: none;
  /*padding-right: 12px;*/
  width: 60px;
  padding: 8px 16px 8px 0;
}

.table__cell:nth-child(2) {
  padding-left: 16px;
}

.table__cell:last-child {
  padding-right: 16px;
}

.cell-title {
  color: #676B73;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.12px;
}

.tx-link {
  color: #7DA3F9;
  /* Caption 2/400 - Regular */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.12px;

  text-decoration: none;
}

.tx-amount {
  color: #0E0E0E;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.12px;
}

.side-menu-container {
  left: 20px;
}

.side-menu {
  border-radius: 16px !important;
}

.comment-button {
  width: 32px;
  height: 32px;
  padding: 8px;
  background: #fff;

  border-radius: 30px;
  border: none;
  cursor: pointer;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.comment-button:hover {
  background: #EDF3FF;
}

.comment-button_active {
  background: #EDF3FF;
}

.comment-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: fit-content;

  padding: 16px 0;

  border-radius: 24px 24px 0 0;
  background: #EDF3FF;
}

.comment-modal__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 0 auto;

  max-width: 800px;
}

.comment-modal__title {
  color: #191919;
  font-size: 12px;
  font-style: normal;
  /*TODO: import font weight*/
  /*font-weight: 500;*/
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.12px;
  margin-bottom: 4px;
}

.comment-modal__text {
  color:  #51545A;
  /* Caption 2/400 - Regular */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.12px;
  margin-bottom: 16px;

  & a:visited, & a:link {
    color: #51545A;
  }
}

.comment-modal__tx-hash {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.12px;
}

.comment-modal__tx-hash-title {
  margin-right: 24px;
}

.comment-modal__close-icon {
  cursor: pointer;
  flex-shrink: 0;
}

@media screen and (max-width: 1023px) {
  .table-container {
    padding: 20px 0 0;
  }

  .table-header {
    padding: 0 24px 18px;
  }

  .scroll-container {
    padding: 0 24px 20px;
  }

  .header {
    padding: 100px 24px 35px;
  }
}

@media screen and (max-width: 768px) {
  .table-header {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    width: 100%;
  }

  .sort-by {
    margin: 0;
  }
}

@media screen and (max-width: 430px) {
  .side-menu {
    border-radius: unset;
  }
}
